services:
  backend:
    container_name: openshift_backend
    hostname: openshift.docker.dev
    external_links:
      - hts-appteam-saml-idp
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    volumes:
      - ./:/var/www
    networks:
      - default
      - hts-appteam-local-dev
#    ports:
#      - "8050:8050"
    env_file:
      - docker/keys.env
    environment:
      - VIRTUAL_HOST=openshift.docker.dev
      - VIRTUAL_PROTO=https
      - VIRTUAL_PORT=443
      - DUSK_DRIVER_URL=http://seleniarm.docker.dev:4444/wd/hub
      - DUSK_START_MAXIMIZED=true
  frontend:
    container_name: openshift_frontend
    build:
      dockerfile: docker/frontend.dockerfile
    volumes:
      - ./:/var/www
    working_dir: /var/www
    ports:
      - "7050:7050"
    networks:
      - default
      - hts-appteam-local-dev
  postgres:
    hostname: openshift_postgres.docker.dev
    container_name: openshift_postgres
    image: "postgres:latest"
    ports:
      - "8050:5432"
    environment:
      POSTGRES_DB: "development"
      POSTGRES_USER: "development"
      POSTGRES_PASSWORD: "secret"
    networks:
      - default
      - hts-appteam-local-dev
networks:
  hts-appteam-local-dev:
    external: true